<mat-toolbar class="app-footer2">
  <div class="container">
    <div class="row">

      <div class="col-lg-2">
        <div class="img-parent">
          <img src="assets/banner/resolved2.png"
          class="footer-img d-inline-block" alt="logo">
        </div>
        <div class="if logo-txt">Issue Manager</div>
      </div>

      <div class="col-lg-10">
        <div class="mr-3">
          <span class="mr-2">{{footerTitle}} </span>
          <a [href]="myUrl" target="_blank">Come visit me</a></div>
      </div>

    </div>
  </div>
</mat-toolbar>
