<div class="row my-3 py-1" id="action-row">
  <div class="col-6 col-lg-10">
    <button type="button" class="btn btn-outline-primary mr-2 mb-2" (click)="goBackToAll()">Back</button>
    <ng-container *ngIf="issue">
      <button *ngIf="issue?.open" type="button" class="btn btn-warning mr-2 mb-2" (click)="onEditToggle()">
        {{ (this.cs.getIssueEditMode$ | async) ? 'Cancel edit' : 'Edit issue' }}
      </button>
      <button type="button" class="btn btn-danger mr-2 mb-2" (click)="deleteIssue()">Delete issue</button>
    </ng-container>
  </div>
  <div class="col-6 col-lg-2">
    <ng-container *ngIf="issue">
      <button type="button" class="btn btn-success float-right" (click)="onOpenCloseToggleIssue()">
        {{issue?.open ? 'Close issue' : 'Reopen issue'}}
      </button>
    </ng-container>
  </div>
</div>
<hr>

<ng-container *ngIf="(this.cs.issueOverallLoading$ | async)">
  <div class="row mb-2">
    <div class="col-lg-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>

<!-- <ng-container *ngIf="!(this.cs.issueOverallLoading$ | async)"> -->
<ng-container *ngIf="issue; else issueDoesNotExist">
  <div class="row">
    <div class="col-lg-12">
      <div class="title">
        <mat-icon mat-list-icon [class]="issue?.priority?.id | priorToCssClass"
          [title]="'Priority: ' + issue?.priority?.display">error_outline</mat-icon>
            {{issue?.title}}
            <span class="count">
              #{{issue?.issueNumber}}
            </span>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="meta">
        <mat-chip-list class="mr-2">
          <mat-chip color="primary" selected [class]="issue?.open | openToCssClass">
            {{issue?.open | issueOpenStatusDisplay:false}}
          </mat-chip>
        </mat-chip-list>
        <div class="v-center">
          {{issue?.author}} created
          this issue on {{issue?.dateCreated | dateDisplay:'FULLANDFROMNOW'}}
        </div>
      </div>
    </div>
  </div>

  <hr>

</ng-container>
<!-- </ng-container> -->

<router-outlet></router-outlet>

<ng-template #issueDoesNotExist>
  <ng-container *ngIf="!(this.cs.issueOverallLoading$ | async)">
    <div class="row">
      <div class="col-lg-12 if fs-18 f-w-700">
        This issue does not exist anymore.
        <a [routerLink]="['/', 'issues']">Go back</a>
      </div>
    </div>
  </ng-container>
</ng-template>
