.action-row {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  font-weight: 400;
  min-height: 35px;
  line-height: 33px;
  word-break: break-word;
}

.count {
  font-size: 25px;
  color: #6a737d;
  min-height: 35px;
  font-weight: 100;
}

.meta {
  font-size: 14px;
  color: #586069;
  display: flex;
}

.desc {
  font-size: 23px;
}

mat-chip.issue-open {
  background-color: #28a745 !important;
}

mat-chip.issue-closed {
  background-color: #888 !important;
}

p.desc {
  font-size: 14px;
  color: #24292e;
}
