<div [class]="parentClass">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-flex loading-parent">
        <div class="loading-logo">
          <img src="assets/banner/resolved2.png"
            class="logo-img d-inline-block" alt="logo">
        </div>
        <!-- <div class="comf banner-text">BobaShop</div> -->
      </div>
      <div class="d-flex loading-parent">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>
      <div class="d-flex loading-parent secfont">
        Loading...
      </div>
    </div>
  </div>
</div>



