.creator-card {
  max-width: 700px;
}

.creator-header-image {
  background-image: url('/assets/banner/resolved.png');
  background-size: 95%;
  background-repeat: no-repeat;
}

.issue-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.priority-val {
  font-family: 'Nerko One', cursive;
  font-size: 19px;
  color: #999;
}

.actions {
  display: flex;
  justify-content: space-between;
}

mat-card mat-card-subtitle {
  font-size: 19px;
}
