<ng-container *ngIf="(issue) as currentIssue">
  <mat-list-item class="issue-border"
    [ngClass]="{'issue-open': currentIssue?.open, 'issue-closed': !currentIssue?.open, 'loading-bg': !currentIssue?.created}">

    <mat-icon mat-list-icon [class]="currentIssue?.priority?.id | priorToCssClass"
      [title]="'Priority: ' + currentIssue?.priority?.display">error_outline</mat-icon>

    <div mat-line class="issue-title">
      <div mat-line (click)="onIssueClick()" class="text">
        {{currentIssue?.title}} {{currentIssue?.created ? '':'(creating...)'}}
      </div>
      <div *ngIf="currentIssue?.loading" class="d-flex">
        <mat-spinner color="primary" diameter="20" class="mr-2"></mat-spinner>
        Loading...
      </div>
    </div>

    <div mat-line class="issue-desc mb-1"> {{currentIssue?.description}} </div>

    <div mat-line class="issue-meta" *ngIf="currentIssue?.created">
      #{{ this.cs.getIssueCounterNumber(currentIssue?.id) | async}} created
      {{currentIssue?.dateCreated | dateDisplay:'FROMNOW'}}
      by {{currentIssue?.author}}
    </div>

  </mat-list-item>
</ng-container>

