<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <app-top-nav (navToggle)="onTopNavMenuClick()" (logoClick)="onTopNavLogoClick()"></app-top-nav>

  <mat-sidenav-container class="app-sidenav-container"
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" fixedBottomGap="0"
      autoFocus="false">
      <app-side-nav (navClose)="onNavClose()"></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-core">
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>


