@media only screen and (min-width: 630px) {
  .signin-card {
    width: 30rem;
  }
}

@media only screen and (max-width: 630px) {
  .signin-card {
    min-width: 100%
  }
}

.signin-card-parent {
  display: flex;
  justify-content: center;
}

.signinAvatarParent {
  height: 50px;
}

.border-circ {
  border-radius: 96px;
}

.signin-btn {
  width: 100%;
  color: #1a8cff;
}

.subtitle {
  font-size: 0.8rem;
}

.forgot-btn {
  color: #1a8cff;
}
