<ng-container *ngIf="(issue) as currentIssue">
  <mat-list-item class="issue-border" [class]="currentIssue?.open | openToCssClass">

    <mat-icon mat-list-icon [class]="currentIssue?.priority?.id | priorToCssClass">error_outline</mat-icon>

    <div mat-line class="issue-title">
      <div (click)="onIssueClick()" class="text">{{currentIssue?.title}}</div>
      <div *ngIf="currentIssue?.loading"><mat-spinner color="primary" diameter="20"></mat-spinner></div>
    </div>

    <div mat-line class="issue-desc mb-1"> {{currentIssue?.description}} </div>

    <div mat-line class="issue-meta" *ngIf="currentIssue?.created">
      #{{ this.cs.getIssueCounterNumber(currentIssue?.id) | async}} opened
      {{currentIssue?.dateCreated | dateDisplay:'FROMNOW'}}
      by {{currentIssue?.author}}
    </div>

  </mat-list-item>
</ng-container>

