/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nerko+One&family=Roboto&display=swap');

body {
  /* margin: 0;  */
  font-family: 'Roboto', sans-serif !important;
}

.wrapper {
  min-height: calc(100vh - 50px);
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.if {
  font-family: 'Indie Flower', cursive;
}

.neko {
  font-family: 'Nerko One', cursive;
}

a {
  text-decoration: none;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.img-h-100 {
  height: 100%;
}

.full-w {
  width: 100%;
}

.f-w-800 {
  font-weight: 800;
}

.f-right {
  display: flex;
  justify-content: flex-end;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.center-loading {
  display: flex;
  justify-content: center;
}

.center-align {
  display: flex;
  justify-content: center;
}

.left-align {
  display: flex;
  justify-content: left;
}

.v-self-align-center {
  display: flex;
  align-self: center;
}

.round-corners {
  border-radius: 50%;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {}

 .app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
