/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nerko+One&family=Roboto:wght@100;400;700&display=swap');
body {
  /* margin: 0;  */
  font-family: 'Roboto', sans-serif !important;
  color: #24292e;
}

.wrapper {
  min-height: calc(100vh - 50px);
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.if {
  font-family: 'Indie Flower', cursive !important;
}

.neko {
  font-family: 'Nerko One', cursive !important;
}

a {
  text-decoration: none;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.img-h-100 {
  height: 100%;
}

.full-w {
  width: 100%;
}

.f-w-700 {
  font-weight: 700;
}

.f-right {
  display: flex;
  justify-content: flex-end;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.center-align {
  display: flex;
  justify-content: center;
}

.left-align {
  display: flex;
  justify-content: left;
}

.v-self-align-center {
  display: flex;
  align-self: center;
}

.round-corners {
  border-radius: 50%;
}

.v-center {
  display: flex;
  align-items: center;
}

p {
  line-height: 1.6;
}

/**
Used to sticky button rows, etc
**/
.sticky-top {
  position: sticky;
  top: 0;
  background-color: #cfe2f7;
  z-index: 3;
  padding: 10px;
  padding-left: 0px;
}

.border-grey-light {
  border-color: #eaecef !important;
  border: 1px solid;
}

mat-card-header .mat-card-header-text {
  width: 100% !important;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {}

 .app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

mat-sidenav {
  width: 300px;
}

.app-snackbar {
  color: #eee !important;
}

.prior-low {
  color: #80d4ff;
}

.prior-medium {
  color: #cccc00;
}

.prior-high {
  color: #e62e00;
}

.issue-open {
  border-left: 2px solid #28a745;
}

.issue-closed {
  border-left: 1px solid #d9d9d9;
}

mat-list-item mat-icon {
  cursor: default;
}

.loading-bg {
  background-color: #f3f3f3;
  background-image: linear-gradient(
    to right,
    transparent 33%,
    rgb(143 167 220 / 30%) 50%,
    transparent 66%
  );
  background-size:300% 100%;
  animation: shine 1s infinite;
}

@keyframes shine {
  0% {
    background-position: right;
  }
  /*100% {
    background-position: left; it's the default value, no need to define it
  }*/
}

.mat-radio-button.prior-low .mat-radio-inner-circle {
  background-color: #80d4ff;
}

.mat-radio-button.prior-low .mat-radio-outer-circle {
  border-color: #80d4ff !important;
}

.mat-radio-button.prior-medium .mat-radio-inner-circle {
  background-color:  #cccc00;
}

.mat-radio-button.prior-medium .mat-radio-outer-circle {
  border-color:  #cccc00 !important;
}

.mat-radio-button.prior-high .mat-radio-inner-circle {
  background-color: #e62e00;
}

.mat-radio-button.prior-high .mat-radio-outer-circle {
  border-color: #e62e00 !important;
}

.lg-img {
  height: 75px;
}

.lg-img-parent {
  display: flex;
  justify-content: center;
}

.z-100 {
  z-index: 100;
}

mat-list-option.mat-list-item {
  width: 3rem !important;
}
